nav{
    background-color: gray;
}
h1{
    font-size: 3rem;
    margin-top: 2rem;
}
.chicken{
    background-color: gray;
    margin: 2rem 2rem 0 2rem;

}
h4{
    text-align: center;
}
.navbar-brand{
    font-size: 24px;
}

@media (min-width:1000px){
    .nav-link{
        display: none;
    }
}